body {
    background-color: $background-color;
    color: $font-color;
    width: 100%;
    font-family: "Roboto Mono";
    margin: 0;
    padding: 0;
}

a {
    color: $font-color;
    text-decoration: none;
}