//COULEURS
$background-color: #090F29;
$font-color: #FEFEFF;
$accent-colors: (
    orange: #FF4338,
    pink: #DA3AB3,
    blue: #00B3E3,
    green: #05CE7C
);

//POLICES
@font-face {
    font-family: "Gilbert-Color";
    src: url("font/Gilbert-Color.otf");
}

//MEDIA QUERY
$breakpoints: (desktop: 1000px, tablet: 700px, mobile: 500px);
$font-size: (desktop: 1.3rem, mobile: 1rem);

@mixin mQ ($size) {
    @media screen and (max-width: $size) {
        @content;
    }
}

$shadow-bottom: -6px 0 transparent, 6px 0 transparent, 0 30px 20px -10px darken($background-color, 10);