@import "_variables";
@import "_base";
@import "layouts/header";
@import "layouts/contact";

#portfolio {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 80px;
    margin: 100px 10% 15% 10%;
    @include mQ($breakpoint-desktop){
        grid-template-columns: auto;
        margin: 100px 80px 100px 80px;
    }
}

.work-box {
    box-shadow: $shadow-bottom;
    position: relative;
    transform: scale(1);
    transition: transform 300ms ease-in-out;
    @include mQ($breakpoint-desktop){
        width: 80%;
        margin: auto;
    }
    @include mQ($breakpoint-mobile){
        width: 100%;
        margin: auto;
    }

    &:hover{
        transform: scale(1.05);
    }
    &:hover .work-box_text {
        opacity: 0.9;
    }
    img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
    &_text {
        position: absolute;
        top: 0;
        background-color: map-get($accent-colors, green);
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: opacity 300ms ease-in-out;
        z-index: 5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 10px;
    }
    h2 {
        margin-top: 5%;
        @include mQ($breakpoint-mobile) {
            font-size: 1rem;
        }
    }
    p {
        margin: 1% 10% 5% 10%;
        @include mQ($breakpoint-mobile) {
            display: none;
        }
    }
}

#presentation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10%;
    div {
        flex: 2;
        font-size: 0.9rem;
        ul {
            list-style-type: none;
        }
        span {
            color: map-get($accent-colors, green);
        }
    }
    img {
        flex: 1;
        margin-left: 20%;
        display: inline-block;
        max-width: 250px;
        height: auto;
        box-shadow: $shadow-bottom;
        border-radius: 10px;
        @include mQ($breakpoint-desktop){
            margin-bottom: 80px;
            margin-left: 0px;
        }
    }
    @include mQ($breakpoint-desktop){
        flex-direction: column-reverse;
    }
}

.uppercase {
    text-transform: uppercase;
}