body {
  background-color: #090F29;
  color: #FEFEFF;
  width: 100%;
  font-family: "Jaldi", "Courier New";
  margin: 0;
  padding: 0;
  line-height: 1.8rem;
  cursor: crosshair;
}

a {
  color: #FEFEFF;
  text-decoration: none;
  cursor: crosshair;
}

p, li {
  font-size: 1.5rem;
}

h1 {
  font-family: "Jaldi";
  font-size: 4.2rem;
  width: 350px;
}
h1:active ~ img {
  transform: translateY(0);
}
h1 span {
  margin: -7px;
}
h1 span:nth-child(4n+1) {
  color: #FF4338;
  font-weight: 700;
  transition: font-weight 100ms ease-in-out;
}
h1 span:nth-child(4n+1):hover {
  font-weight: 400;
}
h1 span:nth-child(4n+2) {
  color: #DA3AB3;
  font-weight: 700;
  transition: font-weight 100ms ease-in-out;
}
h1 span:nth-child(4n+2):hover {
  font-weight: 400;
}
h1 span:nth-child(4n+3) {
  color: #00B3E3;
  font-weight: 700;
  transition: font-weight 100ms ease-in-out;
}
h1 span:nth-child(4n+3):hover {
  font-weight: 400;
}
h1 span:nth-child(4n+4) {
  color: #05CE7C;
  font-weight: 700;
  transition: font-weight 100ms ease-in-out;
}
h1 span:nth-child(4n+4):hover {
  font-weight: 400;
}

nav {
  width: 80%;
  margin: auto;
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
  list-style-type: none;
  text-align: center;
  font-size: 1.3rem;
}
nav ul li {
  display: inline-block;
  height: 50px;
  line-height: 50px;
}
nav ul li:nth-child(odd):hover {
  position: relative;
}
nav ul li:nth-child(odd):hover a {
  display: block;
  position: relative;
}
nav ul li:nth-child(odd):hover::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FF4338;
  border-radius: 50px;
  filter: blur(20px);
}
nav ul li:nth-child(even):hover {
  position: relative;
}
nav ul li:nth-child(even):hover a {
  display: block;
  position: relative;
}
nav ul li:nth-child(even):hover::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #DA3AB3;
  border-radius: 50px;
  filter: blur(20px);
}

@media screen and (max-width: 1000px) {
  nav {
    flex-direction: column;
  }
  nav h1 {
    text-align: center;
  }
  nav ul {
    grid-template-columns: auto;
    grid-gap: 10px;
    font-size: 1rem;
    width: 200px;
    margin: 0 0 50px 0;
    padding: 0;
  }
}
footer {
  background-image: url(../../images/waves.svg);
  background-size: cover;
  width: 100%;
  height: 350px;
}
footer div {
  position: relative;
  bottom: -230px;
  padding-left: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
footer div a {
  margin: 15px;
  font-size: 1.2rem;
}
footer .rs-link {
  transform: rotate(0);
  transition: transform 300ms ease-in-out;
}
footer .rs-link:hover {
  transform: rotate(20deg);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
@media screen and (max-width: 500px) {
  form {
    width: 250px;
    margin: auto;
  }
}
form label {
  display: block;
  font-size: 1.3rem;
}
form .form-group {
  position: relative;
  padding: 20px 0 0;
  margin: 20px 0;
  width: 100%;
  max-width: 400px;
}
form .form-field {
  width: 100%;
  border: 0;
  border-bottom: 2px solid #a82087;
  outline: 0;
  padding: 7px 0;
  background: transparent;
  font-weight: bold;
  color: #FEFEFF;
  transition: border-color 0.2s;
}
form .form-field::placeholder {
  color: transparent;
}
form .form-field:placeholder-shown ~ .form-label {
  cursor: text;
  top: 20px;
}
form .form-label {
  position: absolute;
  top: -10px;
  transition: 0.2s;
  color: #FEFEFF;
}
form .form-field:focus {
  padding-bottom: 6px;
  border-width: 3px;
}
form .form-field:focus ~ .form-label {
  position: absolute;
  top: -10px;
  transition: 0.2s;
  color: #DA3AB3;
  font-weight: bold;
}
form .form-field:required, form .form-field:invalid {
  box-shadow: none;
}
form .textarea-label {
  color: #FEFEFF;
  margin: 45px 0 15px 0;
  width: 400px;
}
form .textarea-label:focus-within {
  font-weight: bold;
  color: #DA3AB3;
}
@media screen and (max-width: 500px) {
  form .textarea-label {
    width: 250px;
    overflow: hidden;
  }
}
form .textarea-field {
  padding: 15px;
  margin-top: 20px;
  border: 0;
  outline: 0;
  background-color: white;
}
form div.form-button {
  position: relative;
  margin: 50px 0;
}
form #send-form {
  position: absolute;
  top: 0;
  padding: 0 20px;
  border: 0;
  width: 250px;
  height: 50px;
  cursor: pointer;
  background: none;
  color: #FEFEFF;
  font-size: 1.3rem;
}
form div.blur {
  width: 250px;
  height: 50px;
  background-color: #DA3AB3;
  border-radius: 50px;
  filter: blur(20px);
}

div.merci-bloc {
  width: 90%;
  margin: 150px auto;
  text-align: center;
}
div.merci-bloc h1 {
  display: inline;
}

article#biography {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5% 10% 0 10%;
}
article#biography div {
  flex: 2;
  font-size: 0.9rem;
}
article#biography div ul {
  list-style-type: none;
}
article#biography div span {
  color: #05CE7C;
}
article#biography div .overline {
  display: inline;
  position: relative;
}
article#biography div .overline a {
  z-index: 1;
  position: relative;
  cursor: pointer;
}
article#biography div .overline::after {
  content: "";
  position: absolute;
  left: -0.1px;
  right: -0.1px;
  bottom: 13px;
  height: 65%;
  transform: scaleY(0.1);
  transition: transform 0.1s ease-in-out;
  transform-origin: bottom;
  background-color: #05CE7C;
}
article#biography div .overline:hover::after {
  transform: scaleY(1);
}
article#biography img {
  flex: 1;
  margin-left: 20%;
  display: inline-block;
  max-width: 250px;
  height: auto;
  box-shadow: -6px 0 transparent, 6px 0 transparent, 0 30px 20px -10px #040714;
  border-radius: 10px;
}
@media screen and (max-width: 1000px) {
  article#biography img {
    margin-bottom: 80px;
    margin-left: 0px;
  }
}
@media screen and (max-width: 1000px) {
  article#biography {
    flex-direction: column-reverse;
  }
}

section {
  width: 80%;
  margin: 80px auto 20px auto;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 80px;
}

.work-box {
  display: inline-block;
  box-shadow: -6px 0 transparent, 6px 0 transparent, 0 30px 20px -10px #040714;
  width: 100%;
  height: 100%;
  transform: scale(1);
  transition: transform 300ms ease-in-out;
  position: relative;
}
.work-box:hover {
  transform: scale(1.05);
}
.work-box:hover div {
  opacity: 0.9;
}
.work-box img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.work-box div {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #05CE7C;
  opacity: 0;
  transition: opacity 300ms ease-in-out;
  z-index: 5;
  text-align: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.work-box h2 {
  font-weight: bold;
  position: relative;
  margin: 10px;
  padding: 0 10%;
  text-transform: uppercase;
}
.work-box p {
  padding: 0 10%;
}

@media screen and (max-width: 1000px) {
  section {
    width: 360px;
    margin: auto;
    grid-template-columns: 1fr;
  }

  .work-box {
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */
