header img {
    transition: transform 100ms ease-in;
    transform:  translateY(-130px);
    position: absolute;
    left: 20px;
    top: -60px;
    width: 200px;
    z-index: 2;
    @include mQ($breakpoint-desktop){
        left: 25%;
    }
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    @include mQ($breakpoint-desktop){
        flex-direction: column;
    }
    h1 {
        font-family: "Gilbert-Color";
        font-size: 4rem;
        line-height: 2.8rem;
        margin: 50px;
        &:active ~ img {
            transform: translateY(0);
        }
        @include mQ($breakpoint-desktop) {
            text-align: center;
        }
    }    
    ul {
        width: 100%;
        padding: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 15px;
        list-style-type: none;
        text-align: center;
        font-size: 1.2rem;
        @include mQ($breakpoint-desktop){
            grid-template-columns: auto;
            grid-gap: 40px;
            font-size: 1rem;
        }
    
    }
}

@mixin animation-menu-links($color) {
    position: relative;
    display: inline-block;
    &::after{
        content: "";
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 50px;
        right: 50%;
        left: -8px;
        top: -19px;
        padding: 10%;
        transform: translate(-50%, -50%);    
        background-color: $color;
        border-radius: 100px;
        filter: blur(5px);
        transform: scale(0) scaleX(0);
        transition: transform 200ms ease-in-out;
    }
    &:hover {
        &::after{
            transform: scale(1) scaleX(1);
        }    
    }    
}

.nav_link {
    &--1{
        @include animation-menu-links(map-get($accent-colors, orange));
    }
    &--2{
        @include animation-menu-links(map-get($accent-colors, pink));
    }
    &--3{
        @include animation-menu-links(map-get($accent-colors, orange));
    }
}