@mixin menu-letters ($color) {
    color: $color;
    font-weight: 700;
    transition: font-weight 100ms ease-in-out;
    &:hover {
        font-weight: 400;
    }
}

@mixin link-blur ($color) {
    &:hover {
        position: relative;
        a {
            display: block;
            position: relative;
        }
        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 50%; left: 50%;
            transform: translate(-50%, -50%);
            background-color: $color;
            border-radius: 50px;
            filter: blur(20px);
        }
    }    
}

h1 {
    font-family: "Jaldi";
    font-size: 4.2rem;
    width: 350px;
    &:active ~ img {
        transform: translateY(0);
    }
    span {
        margin: -7px;
        &:nth-child(4n+1) {
            @include menu-letters (map-get($accent-colors, orange));
        }
        &:nth-child(4n+2) {
            @include menu-letters (map-get($accent-colors, pink));
        }
        &:nth-child(4n+3) {
            @include menu-letters (map-get($accent-colors, blue));
        }
        &:nth-child(4n+4) {
            @include menu-letters (map-get($accent-colors, green));
        }
    }
}    

nav {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 15px;
        list-style-type: none;
        text-align: center;
        font-size: map-get($font-size, desktop);
        li {
            display: inline-block;
            height: 50px;
            line-height: 50px;
            &:nth-child(odd) {
                @include link-blur(map-get($accent-colors, orange))
            }
            &:nth-child(even) {
                @include link-blur(map-get($accent-colors, pink))
            }
        }
    }
}

@include mQ (map-get($breakpoints, desktop)) {
    nav {
        flex-direction: column;
        h1 {
            text-align: center;
        }
        ul {
            grid-template-columns: auto;
            grid-gap: 10px;
            font-size: map-get($font-size, mobile);
            width: 200px;
            margin: 0 0 50px 0;
            padding: 0;
        }
    }
}